body
{
background-color:#e8e8e8; 
}
.content
{
padding:50px 0px 0px 0px;
max-width: 841px; 
margin: 0 auto;
}
.header {

}
.header__content {
display: grid;
grid-template-columns: repeat(2,1fr);
margin:70px;
}
.header__left {
}
.header__potrait {

}
.header__potrait img{
border: 1px solid black;
border-radius:5%;
}
.header__right {
display: flex;
 flex-direction: column;
 line-height: 30px;
}
.main {}
.main__content {}
.main__text {
}
.main__text:last-child{
}
.footer {}
.footer__content {
display: flex;
justify-content: space-between;
align-items:center;
height: 50px;
}